<div style="margin-bottom:5px;" class="cmd cmd-widget reportModeHidden" data-type="action" data-subtype="other" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
    <div class="form-group">
      <input type="date" id="datepicker#id#" style="display:none;"/>
        <button class='btn btn-success' id="datebutton#id#" style="display:flex;align-items:center;" >
          <span style="margin-right:5px;"> #name# </span>
          <i></i>
       </button>
    </div>
<script>
  $('.cmd[data-cmd_id=#id#] i').addClass('#name_display#'.match('<i class="(.*)"></i>')[1]);
  $('#datepicker#id#').datepicker();
  $('#datebutton#id#').on('click', function() {
    $('#datepicker#id#').datepicker('show');
  });

  $('#datepicker#id#').on('change', function() {
    let select_day = $('#datepicker#id#').val();
    jeedom.cmd.execute({id: '#id#', value: {selectedDate : select_day} });
  });

  jeedom.cmd.update['#id#'] = function(_options){
    $('#datepicker#id#').val(_options.display_value);
  }
  jeedom.cmd.update['#id#']({display_value:'#state#'});
</script>
<style>
/*#datepicker#id# + button {
  background-color: rgb(50, 130, 60) !important;
}*/
</style>
</div>
