<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class# #class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;#style#">
	<center style="position:sticky;top:0;" class="widget-name">
		<span class="warning" title="#alert_name#">
			<i class='#alert_icon#'></i>
		</span>
		<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
			<i class="fas fa-sync"></i>
		</span>
		<span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
	</center>
	<div style="margin-bottom:0;padding:20px 12px 0 12px;" class="text-center">
		<div style="background-image: linear-gradient(to right,rgba(0,0,0,.0001) 85%,rgba(0,0,0,.25) 100%),
		linear-gradient(to right,rgba(0,0,0,.25) 0,rgba(0,0,0,.0001) 15%);border-radius:15px 15px 0 0;">
		<img style="margin:-20px;border:solid 2px;" class="img-circle" src="#picture#" height=75 width=75 />
		<h3 class="state"></h3>
			<div>#select_day#</div>
		</div>
	</div>
		<div>#activities#</div>
<script>
	var cmd = $('.eqLogic[data-eqLogic_uid=#uid#]');
	var weekFull = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];
	var date = new Date('#day#');
	var day = weekFull[date.getDay()]+' '+date.toLocaleString('fr-FR',{year: 'numeric', month: 'long', day: 'numeric'});
	cmd.find('.state').empty().append(day);

	cmd.find('.refresh').on('click', function () {
  	jeedom.cmd.execute({id: '#refresh_id#'});
	});
	if ('#presence#' == 1 ) {
  	cmd.find('img.img-circle').css('border-color','green');
	} else if (cmd.find('.cmd[data-logical_id=presences] p').text().match(/Absent/)) {
		cmd.find('img.img-circle').css('border-color','red');
	} else {
		cmd.find('img.img-circle').css('border-color','orange');
	}
	cmd.find('div.cmd .carousel-inner').last().css('border-radius', '0 0 15px 15px');
	cmd.css("overflow-y", "scroll");
</script>
<style>
@font-face {
  font-family: "grandHotel";
  src: url("plugins/meeko/desktop/fonts/GrandHotel-Regular.ttf") format("truetype");
}
h3 {
  font-family: "grandHotel";
}
.eqLogic[data-eqLogic_uid=#uid#]::-webkit-scrollbar {
  display: none;
}
</style>
</div>
