@font-face {
  font-family: "grandHotel";
  src: url("plugins/meeko/desktop/fonts/GrandHotel-Regular.ttf") format("truetype");
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li > a:hover {
  border-bottom : 1px #EB4591 solid !important;
}
